@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}

:root {
    --primary-dark: #113e21;
    --primary-light: #113e21;
}


/* For Webkit browsers (e.g., Chrome, Safari) */
::-webkit-scrollbar {
    width: 12px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; /* Change the scrollbar track color */
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: black; /* Change the scrollbar thumb color */
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #113e21; /* Change the scrollbar thumb color on hover */
  }
  /* selection colour */
  ::selection {
    background: #113e21;
    color: black;
  }
  ::-moz-selection {
    background: #113e21;
    color: black;
  }


@layer base {
   

    li {
        @apply p-4 font-medium
    }

    h1 {
    @apply text-3xl md:text-4xl font-bold 
    }

    h2 {
    @apply text-3xl font-bold
    }

    h3{
    @apply text-xl font-bold
    }
    button {
    @apply p-3 border bg-gradient-to-r from-[var(--primary-dark)] to-[var(--primary-light)] text-white rounded-md
    }
    .icon {
    @apply text-2xl cursor-pointer
    }
}